<blockquote class="twitter-tweet" data-lang="zh-tw"><p lang="ja" dir="ltr">ラブカ堂様のネックレス届きましたヾ(*´∀｀*)ﾉ<br>ペアルックにしていただきました。<a href="https://twitter.com/hashtag/%E3%83%89%E3%83%BC%E3%83%AB%E3%81%A8%E3%82%AA%E3%83%BC%E3%83%8A%E3%83%BC?src=hash&amp;ref_src=twsrc%5Etfw">#ドールとオーナー</a> <a href="https://t.co/mZbKDqNU4y">pic.twitter.com/mZbKDqNU4y</a></p>&mdash; ごま茶室@12月 浮上率低下 (@goma_tearoom) <a href="https://twitter.com/goma_tearoom/status/868781356729290752?ref_src=twsrc%5Etfw">2017年5月28日</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
