<blockquote class="twitter-tweet" data-lang="zh-tw"><p lang="ja" dir="ltr">帰宅ー<br>週末はお出かけですが、忙しくて準備ができない(;´･ω･)<br><br>（　ΦωΦ）＜お帰りなさい！本日もお疲れさまでした。 <a href="https://t.co/HhTOEFnXvq">pic.twitter.com/HhTOEFnXvq</a></p>&mdash; ごま茶室@12月 浮上率低下 (@goma_tearoom) <a href="https://twitter.com/goma_tearoom/status/872813191830491136?ref_src=twsrc%5Etfw">2017年6月8日</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
